<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">


    <label> Email
      <input type="email" name="email" placeholder="Your email"  value="soy@snoopy.com"/>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" value="Charlie123" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>