<main class="hero">
    <nav>
        <h3>FreeMarket</h3>

        <div>
            <a href="/auth/login" class="mx-5">
                <button class="btn btn-warning">Login</button>
            </a>
            <a href="/auth/signup"> 
                <button class="btn btn-outline-warning">Registro</button>
            </a>
        </div>
    </nav>

    <div class="slogan">
        <h3 class="">¿Ya es lo menos?</h3>
        <button type="button" class="btn btn-primary">Oferta del dia</button>
    </div>
</main>